@import url(https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100&family=Oswald:wght@200&display=swap);


body{
    width:100%;
    height:100%;
}

p, li{
    font-family:Oswald;
    font-size:20px;
    letter-spacing: 3px;
}
.padding {
    padding:2em;
}

.navbar{
    padding:20px;
}

.navbar a{
    padding:0px 60px 0px 60px;
}

body > div:nth-child(2) > img {
    width:100%;
}

body > div.container-fluid.Banner > h1{
    position:absolute;
    top:30%;
    left:10%;
}

footer{
    background-color: rgb(232, 232, 232);
}